*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    background: linear-gradient(white, gray);
}

header{
    background: #f4f;
    height: 100px;
    text-align: center;
}

p{
    width: 80%;
    text-align: left;
}