@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --goiaba: rgb(222,118,124);
    --verde-goiaba: #8ebea2;
    --goiaba-escura: #7B3E3C;
    --verdao-goiaba: #007f3a;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body, ul{
    background: var(--verde-goiaba);
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

a{
    color: var(--verde-goiaba);
    text-decoration: none;
}

.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--goiaba-escura);
    padding: 1rem;
}

.titulo{
    font-weight: bold;
    font-size: 1,5rem;
}

.logo{
    max-width: 100px;
    max-height: 200px;
    width: auto;
    height: auto;
}