:root{
    --goiaba: rgb(222,118,124);
    --verde-goiaba: #8ebea2;
    --goiaba-escura: #7B3E3C;
    --verdao-goiaba: #007f3a;
    --meio-goiaba: #916163;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
}

form{
    width: 100%;
    max-width: 30rem;
}

label, textarea, button, input{
    display: block;
}

input, textarea, button{
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input, textarea{
    margin-bottom: 1rem;
    color: black;
    background: var(--verdao-goiaba);
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover, input:focus, textarea:hover, textarea:focus{
    outline: none;
    border-color: var(--goiaba);
    box-shadow: 0 0 0 0.3125rem var(--meio-goiaba);
}

label{
    margin-bottom: 0.5rem;
    color: black;
}

textarea{
    min-height: 12.5rem;
    resize: vertical;
}

button{
    border: none;
    border-radius: 99px;
    color: white;
    background: var(--goiaba);
    cursor: pointer;
    transition: 0.3s;
}

button:hover, button:focus{
    outline: none;
    background: rgb(185, 95, 101);
}

button:disabled{
    cursor: not-allowed;
    background: #555B69;
}

.error, .success{
    text-align: center;
}

.success{
    color: lightskyblue;
}

.error{
    color: tomato;
}