@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --goiaba: rgb(222,118,124);
    --verde-goiaba: #8ebea2;
    --goiaba-escura: #7B3E3C;
    --verdao-goiaba: #007f3a;
    --meio-goiaba: #916163;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--verde-goiaba);
    font-family: 'Poppins', sans-serif;
}

a{
    color: var(--verde-goiaba);
    text-decoration: none;
}

.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--goiaba-escura);
    padding: 1rem;
}

.titulo{
    font-weight: bold;
    font-size: 1,5rem;
}

.logo{
    max-width: 6.25rem;
    max-height: 12.5rem;
    width: auto;
    height: auto;
}

.logo:hover{
    width: 9.375rem;
    border-radius: 0.5rem;
    background: var(--meio-goiaba);
}

.menu{
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.menu a:hover{
    background: var(--meio-goiaba);
}

.creditos {
    display: flex;
    justify-content: center;
    background: rgb(61, 42, 51);
    flex-direction: row;
    align-items: baseline;
}

.creditos li {
    display: flex;
    text-align: center;
    width: 30%;
    margin: 0 1.5%;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.foto{
    border-radius: 50px;
    color: var(--verdao-goiaba);
}

.creditos h2 {
    font-size: 2rem;
    font-weight: bold;
}

.funcao {
    font-size: 1rem;
    font-weight: italic;
}